<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nom Nom Burger</title>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />    
</head>
<body>
    {{!-- Handlebars HTML-escapes values returned by a {{expression}}. A "triple-stash" doesn't. --}}
		{{{ body }}}
</body>
</html>